<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Data Storage</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>StorageType</string>
			<key>Title</key>
			<string>Storage Method</string>
			<key>DefaultValue</key>
			<string>SwiftData</string>
			<key>Titles</key>
			<array>
				<string>SwiftData</string>
				<string>Core Data</string>
			</array>
			<key>Values</key>
			<array>
				<string>SwiftData</string>
				<string>CoreData</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Privacy Policy</string>
			<key>File</key>
			<string>PrivacyPolicy</string>
		</dict>
	</array>
</dict>
</plist> 